<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    
    <!--         <property name="hibernate.connection.driver_class">org.gjt.mm.mysql.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://&lt;&gt;/&lt;database&gt;</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    -->
    
    <property name="hibernate.dialect">hibernate.dialect.SQLiteDialect</property>
    <property name="hibernate.connection.driver_class">org.sqlite.JDBC</property>
    <property name="hibernate.connection.url">jdbc:sqlite:bdabarquillo.db</property>
		<mapping resource="hibernate/resources/Usuario.hbm.xml"/>
    
    </session-factory>
    
    
</hibernate-configuration>
